body {
    font-family: Arial, sans-serif;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    position: relative;
    width: 250px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: center; 
}

.project-card:hover .card-inner {
    transform: rotateX(180deg);
}

.project-front,
.project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-front {
    background-color: #f5f5f5;
}

.project-back {
    
    color: #fff;
    transform: rotateX(180deg);
    transition: background-color 0.75s ease;
}
h2 a {
    color: #fff;
}
.card-image {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    margin: 0;
    padding: 0;

}

.wrap{
    position:absolute;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap h2 {
    text-align: center;
}

.project-card:hover .project-front {
    background-color: #f5f5f5;
}

.project-card:hover .project-back {
    background-color: #3498db;
}
@media (prefers-reduced-motion: reduce) {
    .card-inner,
    .project-back {
        transition: none !important;
    }
}

body {
    text-align: center;
}